// Theme body
.cursor-pointer {
    cursor: pointer;
}

.bg-theme {
    background: #edf1f7 !important;
}

// Margin
.ms-50px {
    margin-left: 50px;
}
.ms-100px {
    margin-left: 100px;
}
.ms-200px {
    margin-left: 200px;
}
.ms-300px {
    margin-left: 300px;
}

// Height and width
.min-h-50px {
    min-height: 50px;
}

.min-h-100px {
    min-height: 100px;
}

.min-h-200px {
    min-height: 200px;
}

.min-h-300px {
    min-height: 300px;
}

.min-w-50px {
    min-width: 50px;
}

.min-w-100px {
    min-width: 100px;
}

.min-w-200px {
    min-width: 200px;
}

.min-w-300px {
    min-width: 300px;
}

.h-50px {
    height: 50px;
}

.h-100px {
    height: 100px;
}

.h-200px {
    height: 200px;
}

.h-300px {
    height: 300px;
}

.w-50px {
    width: 50px;
}

.w-100px {
    width: 100px;
}

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}