<form
    [formGroup]="form"
    class="need-validation row
    justify-content-center">
    <div class="col-10 col-md-8 mb-3 position-relative">
        <label for="formNewPassword1" class="form-label">
            Password
        </label>
        <input
            id="formNewPassword1"
            type="password"
            class="form-control"
            placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
            formControlName="newPassword1"
            [ngClass]="{
                'is-invalid': form.controls['newPassword1'].touched &&
                form.controls['newPassword1'].errors,
                'is-valid': form.controls['newPassword1'].touched &&
                !form.controls['newPassword1'].errors
            }" />
        <div
            *ngIf="form.controls['newPassword1'].errors &&
            (form.controls['newPassword1'].dirty ||
            form.controls['newPassword1'].touched)"
            class="invalid-tooltip invalid-tooltip-right">
            <ng-container *ngFor="let message of formMessages['newPassword1']">
                <span
                    *ngIf="form.controls['newPassword1'].hasError(message.type) &&
                    (form.controls['newPassword1'].dirty ||
                    form.controls['newPassword1'].touched)">
                    • {{ message.message }}
                </span>
            </ng-container>
        </div>
    </div>

    <div class="col-10 col-md-8 mb-3 position-relative">
        <label for="formNewPassword2" class="form-label">
            Confirm password
        </label>
        <input
            id="formNewPassword2"
            type="password"
            class="form-control"
            placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
            formControlName="newPassword2"
            [ngClass]="{
                'is-invalid': form.controls['newPassword2'].touched &&
                form.controls['newPassword2'].errors,
                'is-valid': form.controls['newPassword2'].touched &&
                !form.controls['newPassword2'].errors
            }" />
        <div
            *ngIf="form.controls['newPassword2'].errors &&
            (form.controls['newPassword2'].dirty ||
            form.controls['newPassword2'].touched)"
            class="invalid-tooltip invalid-tooltip-right">
            <ng-container *ngFor="let message of formMessages['newPassword2']">
                <span
                    *ngIf="form.controls['newPassword2'].hasError(message.type) &&
                    (form.controls['newPassword2'].dirty ||
                    form.controls['newPassword2'].touched)">
                    • {{ message.message }}
                </span>
            </ng-container>
        </div>
    </div>

    <div class="col-10 col-md-8 d-grid gap-0">
        <button
            class="btn btn-primary"
            type="button"
            (click)="doPreReset()"
            [disabled]="isLoading || !form.valid" >
            <span *ngIf="!isLoading; else spinnerTpl">
                Confirm
            </span>

            <ng-template #spinnerTpl>
                <i class="fa-solid fa-circle-notch fa-spin"></i>
            </ng-template>
        </button>

        <hr class="my-3" />

        <p class="mb-0 text-center">
            <small class="text-muted">
                Back to
                <a
                    class="link-primary"
                    [routerLink]="'/auth/login'">
                    Login
                </a>
            </small>
        </p>

        <p class="mb-3 text-center">
            <small class="text-muted">
                No verification email?
                <a
                    class="link-primary"
                    [routerLink]="'/auth/resend-verification'">
                    Resend
                </a>
            </small>
        </p>
    </div>
</form>