<div
    class="modal fade show d-block"
    role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="mb-4">
                    Update status to {{ nextStatus | ticketStatus }}
                </h5>

                <form [formGroup]="updateForm">
                    <div class="mb-3 position-relative">
                        <label class="form-label">
                            Notes
                        </label>
                        <textarea
                            type="text"
                            class="form-control"
                            formControlName="notes"
                            placeholder="Eg: Issue closed by doing..."
                            [ngClass]="{
                                'is-invalid': updateForm.controls['notes'].touched &&
                                updateForm.controls['notes'].errors,
                                'is-valid': updateForm.controls['notes'].touched &&
                                !updateForm.controls['notes'].errors
                            }"></textarea>
                        <div
                            *ngIf="updateForm.controls['notes'].errors &&
                            (updateForm.controls['notes'].dirty ||
                            updateForm.controls['notes'].touched)"
                            class="invalid-tooltip invalid-tooltip-right">
                            <ng-container *ngFor="let message of formMessages['notes']">
                                <span
                                    *ngIf="updateForm.get('notes')?.hasError(message.type) &&
                                    (updateForm.get('notes')?.dirty ||
                                    updateForm.get('notes')?.touched)">
                                    • {{ message.message }}
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </form>

                <div class="text-end">
                    <button
                        type="button"
                        class="btn btn-outline-primary btn-sm me-2"
                        (click)="toggleModal()">
                        Close
                    </button>

                    <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        (click)="updateStatus()"
                        [disabled]="isProcessing || !updateForm.valid" >
                        <span *ngIf="!isProcessing; else isLoading">
                            Update
                        </span>

                        <ng-template #isLoading>
                            <i class="fa-solid fa-circle-notch fa-spin"></i>
                        </ng-template>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="modal-backdrop show d-block"
    role="dialog">
</div>