<div class="row g-3">
    <div class="col-sm-12 col-md-4" *ngFor="let test of [0, 1, 2, 3, 4, 5, 6]">
        <div class="card shadow-sm border-0 text-center">
            <div class="card-body">
                <div class="rounded-circle
                    border border-primary border-opacity-25 d-flex justify-content-center
                    align-items-center mx-auto mb-3 p-2 avatar"
                    alt="Avatar">
                    <div class="rounded-circle bg-primary bg-opacity-50
                        d-flex justify-content-center
                        align-items-center w-100 h-100">
                        <i class="fa-solid fa-user fa-2x text-white"></i>
                    </div>
                </div>
                <p class="mb-0">
                    John Lee
                </p>
                <p class="text-muted mb-0">
                    Female
                </p>
            </div>
            <div class="btn-group btn-group-custom border-0">
                <button class="btn btn-outline-primary border-0 border-top">
                    View
                </button>
            </div>              
        </div>
    </div>
</div>