<div class="pt-12 pb-6">
    <div class="flex flex-wrap">
        <div class="w-full xl:w-4/12 mb-12 xl:mb-0 pr-2">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
            >
                <app-configuration-blocks></app-configuration-blocks>
            </div>
        </div>

        <div class="w-full xl:w-4/12 mb-12 xl:mb-0 pr-2">
            <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
            >
                <app-configuration-floors></app-configuration-floors>
            </div>
        </div>

        <div class="w-full xl:w-4/12 mb-12 xl:mb-0 pr-2">
            <div
                class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
            >
                <app-configuration-unit-numbers></app-configuration-unit-numbers>
            </div>
        </div>
    </div>
</div>