<div class="container-fluid pt-5">
	<div class="row g-3">
		<div class="col-sm-12 col-md-2">
			<div class="card shadow-none border-0 bg-transparent">
				<ul class="nav nav-custom flex-column">
					<li class="nav-item">
						<button
							class="nav-link w-100"
							type="button"
							role="tab"
							[ngClass]="{
                                'active': currentTab === TabChoice.DETAILS
                            }"
                            (click)="changeTab(TabChoice.DETAILS)">
							Account
						</button>
					</li>
					
					<li class="nav-item">
						<button
							class="nav-link w-100"
							type="button"
							role="tab"
							[ngClass]="{
                                'active': currentTab === TabChoice.PASSWORD
                            }"
                            (click)="changeTab(TabChoice.PASSWORD)">
							Password
						</button>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-12 col-md-10">
            <div class="tab-content">
				<div
					*ngIf="currentTab === TabChoice.DETAILS"
					class="tab-pane fade show active"
                    role="tabpanel">
                    <app-account-settings></app-account-settings>
                </div>

				<div
					*ngIf="currentTab === TabChoice.PASSWORD"
					class="tab-pane fade show active"
                    role="tabpanel">
                    <app-password-settings></app-password-settings>
                </div>
            </div>
		</div>
	</div>
</div>