<div class="container-fluid pt-5">
	<div class="row g-3">
		<div class="col-sm-12 col-md-2">
			<div class="card shadow-sm border-0">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item">
						<button class="nav-link w-100 rounded-0 rounded-top"
							type="button"
							role="tab"
							[ngClass]="{
                                'active': currentTab === 'details'
                            }"
                            (click)="changeTab('details')">
							Account
						</button>
					</li>
					<li class="nav-item">
						<button class="nav-link w-100 rounded-0 rounded-bottom"
							type="button"
							role="tab"
							[ngClass]="{
                                'active': currentTab === 'password'
                            }"
                            (click)="changeTab('password')">
							Password
						</button>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-12 col-md-10">
            <div class="tab-content">
                <div class="tab-pane fade"
                    role="tabpanel"
                    [ngClass]="{
                        'show active': currentTab === 'details'
                    }">
                    <app-account-settings></app-account-settings>
                </div>
                <div class="tab-pane fade"
                    role="tabpanel"
                    [ngClass]="{
                        'show active': currentTab === 'password'
                    }">
                    <app-password-settings></app-password-settings>
                </div>
            </div>
		</div>
	</div>
</div>