# local env files
**/.env.local
**/.env.*.local

# Django #
**/*.log
**/*.pot
**/*.pyc
**/__pycache__
**/db.sqlite3
**/media

# Misc
**/misc

# Backup files # 
**/*.bak 

# Installer logs 
**/pip-log.txt 
**/pip-delete-this-directory.txt 

# pyenv 
**/.python-version 

# celery 
**/celerybeat-schedule.* 

# Environments 
**/.env 
**/.venv
**/env
**/env/ 
**/venv/ 
**/ENV/ 
**/env.bak/ 
**/venv.bak/ 