<div class="card shadow-sm border-0">
    <div class="card-body">
        <ng-template ngFor
            let-comment
            let-index="index"
            [ngForOf]="comments">
            <div class="row mb-3">
                <div class="col">
                    <div class="d-flex flex-start p-3">
                        <img class="rounded-circle shadow-1-strong me-3 bg-dark bg-opacity-25"
                            src="assets/images/default/avatar-ninja.png"
                            alt="avatar" 
                            width="65"
                            height="65" />
                        <div class="flex-grow-1 flex-shrink-1">
                            <div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="mb-1">
                                        {{ comment.createdBy.email }}
                                        <span class="small">
                                            - {{ comment.createdAt | date: 'd/M/yy, h:mm a' }}
                                        </span>
                                    </p>
                                    <a class="link"
                                        (click)="toggleReply(comment.id)">
                                        <i class="fas fa-reply fa-xs"></i>
                                        <span class="small"> reply</span>
                                    </a>
                                </div>
                                <p class="small mb-0">
                                    {{ comment.comment }}
                                </p>
                            </div>

                            <!-- <div class="d-flex flex-start mt-4">
                                <a class="me-3" href="#">
                                  <img class="rounded-circle shadow-1-strong"
                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp" alt="avatar"
                                    width="65" height="65" />
                                </a>
                                <div class="flex-grow-1 flex-shrink-1">
                                    <div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <p class="mb-1">
                                                Simona Disa <span class="small">- 3 hours ago</span>
                                            </p>
                                        </div>
                                        <p class="small mb-0">
                                            letters, as opposed to using 'Content here, content here',
                                            making it look like readable English.
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <form>
            <div class="mb-3">
                <label class="form-label">Leave a comment</label>
                <textarea class="form-control"
                    placeholder="Enter your comment..."></textarea>
            </div>

            <div class="text-end">
                <button class="btn btn-primary">
                    Post comment
                </button>
            </div>
        </form>
    </div>
</div>