<div class="container-fluid bg-dark vh-100">
    <div class="row h-100">
        <div class="col-sm-12 col-lg-4 d-flex align-items-center justify-content-center bg-white">
            <!-- Form -->
            <div class="">
                <form>
                    <div class="mb-3">
                        <label for="formEmail" class="form-label">
                            Email
                        </label>
                        <input id="formEmail"
                            type="email"
                            class="form-control"
                            placeholder="example@test.com" >
                    </div>
    
                    <div class="mb-3">
                        <label for="formPassword" class="form-label">
                            Password
                        </label>
                        <input
                            id="formPassword"
                            type="password"
                            class="form-control"
                            placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;">
                    </div>
    
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-8">
            <!-- Image -->
        </div>
    </div>
</div>