.dropdown ul.dropdown-menu.dropdown-menu-custom li {
    button.dropdown-item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: rgba(33, 37, 41, 0.75)
    }
    button.dropdown-item:active {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: #fff;
    }
    &:first-child button.dropdown-item {
        border-top-left-radius: 0.25rem !important;
        border-top-right-radius: 0.25rem !important;
    }
    &:last-child button.dropdown-item {
        border-bottom-left-radius: 0.25rem !important;
        border-bottom-right-radius: 0.25rem !important;
    }
}

.list-group-item-action:focus {
    color: #fff !important;
    background-color: #5660d9 !important;
    border-color: #5660d9 !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: rgb(86, 96, 217, 1) !important;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(86, 96, 217, 1) !important; // top sides boottom
    transition: all 250ms ease 0s;
    transform: scale(1)
}

.nav-tabs .nav-link:not(.disabled,:disabled) {
    color: #495057;
}

.nav-tabs .nav-link:hover:not(.disabled,:disabled),
.nav-tabs .nav-link:focus:not(.disabled,:disabled) {
    isolation: none;
    border-color: rgba(0, 0, 0, 0);
    color: rgb(86, 96, 217, 0.75);
}
