<div>
    <form
        [formGroup]="resendForm"
        class="need-validation row
        justify-content-center">
        <div class="col-10 col-md-8">
            <p class="text-muted text-center">
                Resend verification email
            </p>
        </div>
        
        <div class="col-10 col-md-8 mb-3 position-relative">
            <label for="formEmail" class="form-label">
                Email
            </label>
            <input
                id="formEmail"
                type="email"
                class="form-control"
                placeholder="example@test.com"
                formControlName="email"
                [ngClass]="{
                    'is-invalid': resendForm.controls['email'].touched &&
                    resendForm.controls['email'].errors,
                    'is-valid': resendForm.controls['email'].touched &&
                    !resendForm.controls['email'].errors
                }" />
            <div
                *ngIf="resendForm.controls['email'].errors &&
                (resendForm.controls['email'].dirty ||
                resendForm.controls['email'].touched)"
                class="invalid-tooltip invalid-tooltip-right">
                <ng-container *ngFor="let message of formMessages['email']">
                    <span
                        *ngIf="resendForm.controls['email'].hasError(message.type) &&
                        (resendForm.controls['email'].dirty ||
                        resendForm.controls['email'].touched)">
                        • {{ message.message }}
                    </span>
                </ng-container>
            </div>
        </div>

        <div class="col-10 col-md-8 d-grid gap-0">
            <button
                class="btn btn-primary"
                type="button"
                (click)="resend()"
                [disabled]="isProcessing || !resendForm.valid" >
                <span *ngIf="!isProcessing; else isLoading">
                    Resend
                </span>

                <ng-template #isLoading>
                    <i class="fa-solid fa-circle-notch fa-spin"></i>
                </ng-template>
            </button>

            <hr class="my-3" />

            <p class="mb-0 text-center">
                <small class="text-muted">
                    Back to
                    <a
                        class="link-primary"
                        [routerLink]="'/auth/login'">
                        Login
                    </a>
                </small>
            </p>
            
            <p class="mb-3 text-center">
                <small class="text-muted">
                    Forgot password?
                    <a
                        class="link-primary"
                        [routerLink]="'/auth/reset'">
                        Reset
                    </a>
                </small>
            </p>
        </div>
    </form>
</div>