<div class="container-fluid bg-dark vh-100">
    <div class="row h-100">
        <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-center bg-white">
            <!-- Form -->
            <form [formGroup]="resendForm"
                class="need-validation row justify-content-center">
                <div class="col-10 col-md-7">
                    <img src="assets/images/illustrations/resend-verification.png"
                        class="w-100 d-block d-md-none" />
                    <p class="text-muted">
                        Resend verification email
                    </p>
                </div>
                
                <div class="col-10 col-md-7 mb-3 position-relative">
                    <label for="formEmail" class="form-label">
                        Email
                    </label>
                    <input id="formEmail"
                        type="email"
                        class="form-control"
                        placeholder="example@test.com"
                        formControlName="email"
                        [ngClass]="{
                            'is-invalid': resendForm.controls['email'].touched &&
                            resendForm.controls['email'].errors,
                            'is-valid': resendForm.controls['email'].touched &&
                            !resendForm.controls['email'].errors
                        }" />
                    <div class="invalid-tooltip invalid-tooltip-right"
                        *ngIf="resendForm.controls['email'].errors &&
                        (resendForm.controls['email'].dirty || resendForm.controls['email'].touched)">
                        <ng-container *ngFor="let message of resendFormMessages['email']">
                            <span *ngIf="resendForm.get('email')?.hasError(message.type) &&
                                (resendForm.get('email')?.dirty || resendForm.get('email')?.touched)">
                                • {{ message.message }}
                            </span>
                        </ng-container>
                    </div>
                </div>

                <div class="col-10 col-md-7 d-grid gap-0">
                    <button class="btn btn-primary"
                        type="button"
                        (click)="resend()"
                        [disabled]="isProcessing || !resendForm.valid" >
                        <span *ngIf="!isProcessing; else isLoading">
                            Resend
                        </span>
                        <ng-template #isLoading>
                            <i class="fas fa-spinner fa-spin"></i>
                        </ng-template>
                    </button>

                    <hr class="my-3" />

                    <p class="mb-0">
                        <small class="text-muted">
                            Back to
                            <a [routerLink]="'/auth/login'"
                                class="link-primary">
                                Login
                            </a>
                        </small>
                    </p>
                    <p class="mb-3">
                        <small class="text-muted">
                            Forgot password?
                            <a [routerLink]="'/auth/reset'"
                                class="link-primary">
                                Reset
                            </a>
                        </small>
                    </p>
                </div>
            </form>
        </div>

        <div class="col-md-8 d-md-flex align-items-center justify-content-center d-none">
            <!-- Image -->
            <img src="assets/images/illustrations/resend-verification.png"
                style="height: 25rem;" />
        </div>
    </div>
</div>