<div class="container-fluid v-100 d-flex align-items-center justify-content-center">
    <div class="text-center">
        <img src="assets/images/illustrations/403.png" 
            style="height: 22rem;" />
        
        <p class="fs-3">
            <span class="text-danger">Opps!</span>
        </p>

        <p class="lead">
            You're not authoried to access this page.
        </p>

        <button [routerLink]="'/dashboard'"
            class="btn btn-primary">
            Back to dashboard
        </button>
    </div>
</div>