<div class="container-fluid">
    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-lg-4">
            <div class="card shadow">
                <div class="card-body min-h-300px">
                    <h5 class="card-title mb-2">
                        Blocks
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4">
            <div class="card shadow">
                <div class="card-body min-h-300px">
                    <h5 class="card-title mb-2">
                        Floors
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4">
            <div class="card shadow">
                <div class="card-body min-h-300px">
                    <h5 class="card-title mb-2">
                        Unit Numbers
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>