<div class="container-fluid">
    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-lg-12">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title mb-0">
                        Unit Management
                    </h5>
                </div>
                <ngx-datatable
                    class="bootstrap"
                    columnMode="force"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [limit]="tableEntries != -1 ? tableEntries:undefined"
                    [rows]="tableTemp">
                    <ngx-datatable-column
                        prop="unitNo">
                        <ng-template ngx-datatable-header-template>
                            <span>Unit</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.unitNo}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="squareFeet">
                        <ng-template ngx-datatable-header-template>
                            <span>Square Feet</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.squareFeet}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="block">
                        <ng-template ngx-datatable-header-template>
                            <span>Block</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.block}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="floor">
                        <ng-template ngx-datatable-header-template>
                            <span>Floor</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.floor}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="isActive">
                        <ng-template ngx-datatable-header-template>
                            <span>Active</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.isActive}}
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>
    </div>
</div>