<div class="container-fluid pt-5">
    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <h6 class="card-subtitle text-muted">
                        Total tenants
                    </h6>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <h6 class="card-subtitle text-muted">
                        Total complaints
                    </h6>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <h6 class="card-subtitle text-muted">
                        Free parkings
                    </h6>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <h6 class="card-subtitle text-muted">
                        Pending payment amount
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-lg-7">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Accounts
                    </h6>
                    <h5 class="card-title mb-2">
                        Total payments
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-5">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Overview
                    </h6>
                    <h5 class="card-title mb-2">
                        Ownership
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-lg-4">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Billings
                    </h6>
                    <h5 class="card-title mb-2">
                        Latest payments
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Complaints
                    </h6>
                    <h5 class="card-title mb-2">
                        Latest solved
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Maintenance
                    </h6>
                    <h5 class="card-title mb-2">
                        Activity feed
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-sm-12 col-lg-12">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Performance
                    </h6>
                    <h5 class="card-title mb-2">
                        Total complaints
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>