<div *ngIf="isOpen">
    <div class="modal fade show d-block"
        role="dialog"
        [ngClass]="{
            'modal-sm': modalSize === 'sm',
            'modal-lg': modalSize === 'lg'
        }">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="title; else noTitle">
                            {{ title }}
                        </span>

                        <ng-template #noTitle>
                            <span>
                                Confirmation
                            </span>
                        </ng-template>
                    </h5>
                </div>

                <div class="modal-body">
                    <p *ngIf="!headerTemplate; else headerTpl">
                        Are you sure you want to do this?
                    </p>

                    <ng-template #headerTpl>
                        <ng-container 
                            *ngTemplateOutlet="headerTemplate">
                        </ng-container>
                    </ng-template>

                    <div class="btn-toolbar justify-content-end">
                        <button type="button" 
                            class="btn btn-outline-primary me-2"
                            (click)="cancel()"
                            [disabled]="isProcessing">
                            Cancel
                        </button>

                        <button type="button" 
                            class="btn btn-primary"
                            (click)="confirm()"
                            [disabled]="isProcessing">
                            <span *ngIf="!isProcessing; else isLoading">
                                Confirm
                            </span>
                            <ng-template #isLoading>
                                <i class="fa-solid fa-circle-notch fa-spin"></i>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop show d-block"
        role="dialog">
    </div>
</div>