<nav
	class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-no-wrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6 bg-sidebar scrollbar-hidden"
>
	<div
		class="md:flex-col md:items-stretch md:min-h-full md:flex-no-wrap px-0 flex flex-wrap items-center justify-between w-full mx-auto"
	>
		<!-- Toggler -->
		<button
			class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
			type="button" 
			(click)="toggleCollapseShow('bg-white m-2 py-3 px-6')"
		>
			<i class="fas fa-bars"></i>
		</button>

		<!-- Brand -->
		<a 
			[routerLink]="['/']"
			class="md:block text-left md:pb-2 text-gray-100 mr-0 inline-block whitespace-no-wrap text-sm uppercase font-bold p-4 px-0"
		>
			<span class="block sm:hidden text-center">
				Building Management
			</span>

			<img [src]="logo" class="hidden sm:block w-full">
			<span class="hidden sm:block text-center">
				Building Management
			</span>
		</a>

		<!-- User -->
		<ul class="md:hidden items-center flex flex-wrap list-none">
			<li class="inline-block relative">
				<!-- <app-notification-dropdown class="block"></app-notification-dropdown> -->
			</li>
			<li class="inline-block relative">
				<app-user-dropdown class="block"></app-user-dropdown>
			</li>
		</ul>

		<!-- Collapse -->
		<div 
			class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded"
			[ngClass]="collapseShow"
		>
			<!-- Collapse header -->
			<div class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-gray-300">
				<div class="flex flex-wrap">
					<div class="w-10/12">
						<a 
							[routerLink]="['/']"
							class="md:block text-left md:pb-2 text-gray-700 mr-0 inline-block whitespace-no-wrap text-sm uppercase font-bold p-4 px-0 text-center"
						>
						<img [src]="logo" class="block sm:hidden w-1/2 mx-auto">
							Building Management
						</a>
					</div>
					<div class="w-11/12 flex justify-end">
						<button 
							type="button"
							class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
							(click)="toggleCollapseShow('hidden')"
						>
							<i class="fas fa-times" (click)="toggleCollapseShow('hidden')"></i>
						</button>
					</div>
				</div>
			</div>

			<!-- Form -->
			<form class="mt-6 mb-4 md:hidden">
				<div class="mb-3 pt-0">
					<!-- <input type="text" placeholder="Search"
						class="px-3 py-2 h-12 border border-solid border-gray-600 placeholder-gray-400 text-gray-700 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal" /> -->
				</div>
			</form>

			<!-- Divider -->
			<hr class="my-4 md:min-w-full" />
			<!-- Heading -->
			<!-- 
				<h6 class="md:min-w-full text-gray-600 text-xs uppercase font-bold block pt-1 pb-4 no-underline">
					Admin Layout Pages
				</h6> 
			-->
			<!-- Navigation -->
			<!-- Menu -->
			<ul class="md:flex-col md:min-w-full flex flex-col list-none">
				<li *ngFor="let menuItem of menuItems" class="items-center">
					<!-- Menu -->
					<a 
						[routerLink]="[menuItem.path]"
						routerLinkActive 
						class="text-xs uppercase py-3 font-bold block"
						*ngIf="menuItem.type === 'link'"
						#itemLink="routerLinkActive" 
						[ngClass]="itemLink.isActive? 'text-teal-500 hover:text-teal-600': 'text-gray-300 hover:text-teal-100'"
					>
						<i 
							class="{{menuItem.iconType + ' mr-2 text-sm fa-fw'}}" 
							[ngClass]="itemLink.isActive ? 'opacity-75' : 'text-gray-400'"
			  			>
						</i>
						<span>{{menuItem.title}}</span>
					</a>

					<!-- Submenu -->
					<a 
						routerLinkActive
						class="text-xs uppercase py-3 font-bold block flex"
						*ngIf="menuItem.type === 'sub'"
						(click)="menuItem.isCollapsed = !menuItem.isCollapsed"
						[class.active]="!menuItem.isCollapsed"
						#itemLink="routerLinkActive"
						[ngClass]="itemLink.isActive? 'text-teal-500 hover:text-teal-600': 'text-gray-300 hover:text-teal-100'"
					>
						<i 
							class="{{menuItem.iconType + ' mr-2 text-sm fa-fw'}}" 
							[ngClass]="itemLink.isActive ? 'opacity-75' : 'text-gray-300'"
						>
						</i>
						<span class="mr-5">{{menuItem.title}}</span>
						<i 
							class="fas fa-angle-down sub-icon"
							[ngClass]="{'sub-icon-rotate': menuItem.isCollapsed}" type="button"
						>
						</i>
					</a>

					<!-- Show submenu items-->
					<div 
						@collapseTrigger
						id="{{menuItem.collapse}}"
						class="ml-7 text-xs uppercase py-1 font-bold block"
						*ngIf="menuItem.type === 'sub' && menuItem.isCollapsed"
					>
						<ul class="nav nav-sm flex-column">
							<li *ngFor="let childItem of menuItem.children" class="nav-item">
								<!-- Submenu -->
								<a
									routerLinkActive
									[routerLink]="[menuItem.path, childItem.path]"
									class="text-xs uppercase py-3 font-bold block"
									*ngIf="childItem.type === 'link'"
									#itemSubLink="routerLinkActive"
									[ngClass]="itemSubLink.isActive? 'text-teal-500 hover:text-teal-600': 'text-gray-300 hover:text-teal-100'"
								>
									{{childItem.title}}
								</a>
								<!-- Sub-submenu -->
								<a
									routerLinkActive
									(click)="childItem.isCollapsed = !childItem.isCollapsed"
									*ngIf="childItem.type === 'sub'"
									class="text-xs uppercase py-3 font-bold block flex"
									[class.active]="!childItem.isCollapsed"
									#itemSubLink="routerLinkActive"
									[ngClass]="itemSubLink.isActive? 'text-teal-500 hover:text-teal-600': 'text-gray-300 hover:text-teal-100'"
								>
									<span class="mr-5">{{childItem.title}}</span>
									<i 
										class="fas fa-angle-down sub-icon"
										[ngClass]="{'sub-icon-rotate': childItem.isCollapsed}" type="button"
									>
								</i>
								</a>
								<!-- Show sub-submenu items -->
								<div
									@collapseTrigger
									id="{{childItem.collapse}}"
									*ngIf="childItem.type === 'sub' && childItem.isCollapsed"
								>
									<ul class="nav nav-sm flex-column">
										<li *ngFor="let item of childItem.children" class="nav-item">
											<a 
												routerLinkActive
												[routerLink]="[menuitem.path, childItem.path, item.path]" 
												class="text-xs uppercase py-3 font-bold block"
												#itemSubChildLink="routerLinkActive"
												[ngClass]="itemSubChildLink.isActive? 'text-teal-500 hover:text-teal-500': 'text-gray-800 hover:text-gray-600'"
											>
												{{item.title}}
											</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>

			<!-- Divider -->
			<hr class="my-4 md:min-w-full" />
		</div>
	</div>
</nav>