<div class="pt-12 pb-6">
    <div 
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
    >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1 bg-gray">
                    <div class="flex flex-wrap w-full relative">
                        <h3 class="font-semibold text-lg text-gray-800 my-auto">
                            Unit Management
                        </h3>
    
                        <button
                            (click)="toggleAddModal('open')"
                            type="button"
                            class="bg-teal-500 text-white active:bg-teal-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 ml-auto"
                        >
                            <i class="fas fa-plus"></i> NEW
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounded-b block w-full overflow-x-auto">
            <div class="border-collapse w-full">
                <ngx-datatable
                    class="material"
                    columnMode="force"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [limit]="tableEntries != -1 ? tableEntries:undefined"
                    [rows]="tableTemp"
                    (activate)="onActivate($event)"
                >
                    <ngx-datatable-column
                        prop="unit_no"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Unit</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.unit_no}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="block.block"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Block</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.block.block}}
                        </ng-template>
                    </ngx-datatable-column>
                    
                    <ngx-datatable-column
                        prop="floor.floor"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Floor</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.floor.floor}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="unit_number.unit_number"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Unit No.</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.unit_number.unit_number}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="is_maintenance"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Maintenance</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span
                                *ngIf="!row.is_maintenance"
                                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-white bg-indigo-500 uppercase last:mr-0 mr-1"
                            >
                                Not In Maintenance
                            </span>
                            <span
                                *ngIf="row.is_maintenance"
                                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-blue-600 bg-blue-200 uppercase last:mr-0 mr-1"
                            >
                                In Maintenance
                            </span>                              
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="is_active"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Status</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span 
                                *ngIf="row.is_active"
                                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-green-600 bg-green-200 uppercase last:mr-0 mr-1"
                            >
                                Active
                            </span>
                            <span 
                                *ngIf="!row.is_active"
                                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-orange-600 bg-orange-200 uppercase last:mr-0 mr-1"
                            >
                                Inactive
                            </span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            <span>Action</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button 
                                class="bg-teal-500 text-white active:bg-teal-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" 
                                type="button"
                                (click)="view(row)"
                            >
                                View
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>

<!-- Register modal -->
<div
    @toggleTrigger
    *ngIf="addModal" 
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
    <div class="relative w-auto my-6 mx-auto max-w-sm flex-grow flex-1">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
                <h3 class="text-3xl font-semibold">
                    Register new unit
                </h3>
                <button 
                    class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" 
                    (click)="toggleAddModal('close')"
                >
                    <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                    ×
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto">
                <form [formGroup]="unitForm">
                    <div class="relative w-full mb-3">
                        <label
                            class="block uppercase text-gray-700 text-xs font-bold mb-2"
                            htmlFor="grid-password"
                        >
                            Unit no
                            <span class="legend-marker">**</span>
                        </label>
                        <input
                            type="text"
                            class="px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-gray-200 rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-full"
                            placeholder="Unit no."
                            disabled
                            [value]="unitNo"
                        />
                    </div>

                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-4/12 pr-2">
                            <div class="relative w-full mb-3">
                                <label
                                    class="block uppercase text-gray-700 text-xs font-bold mb-2"
                                    htmlFor="grid-password"
                                >
                                    Block
                                    <span class="legend-marker">*</span>
                                </label>
                                <select
                                    type="text"
                                    class="custom-select px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-full"
                                    placeholder="Block"
                                    formControlName="block"
                                    (change)="generateUnitNo()"
                                >
                                    <ng-container *ngFor="let block of blocks">
                                        <option 
                                            *ngIf="block.is_active" 
                                            value="{{block.id}}"
                                        >
                                            {{block.block}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12">
                            <div class="relative w-full mb-3">
                                <label
                                    class="block uppercase text-gray-700 text-xs font-bold mb-2"
                                    htmlFor="grid-password"
                                >
                                    Floor
                                    <span class="legend-marker">*</span>
                                </label>
                                <select
                                    type="text"
                                    class="custom-select px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-full"
                                    placeholder="Floor"
                                    formControlName="floor"
                                    (change)="generateUnitNo()"
                                >
                                    <ng-container *ngFor="let floor of floors">
                                        <option 
                                            *ngIf="floor.is_active" 
                                            value="{{floor.id}}"
                                        >
                                            {{floor.floor}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>

                        <div class="w-full lg:w-4/12 pl-2">
                            <div class="relative w-full mb-3">
                                <label
                                    class="block uppercase text-gray-700 text-xs font-bold mb-2"
                                    htmlFor="grid-password"
                                >
                                    Unit no.
                                    <span class="legend-marker">*</span>
                                </label>
                                <select
                                    type="text"
                                    class="custom-select px-3 py-3 placeholder-gray-400 text-gray-700 relative bg-white bg-white rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-full"
                                    placeholder="Unit no."
                                    formControlName="unit_number"
                                    (change)="generateUnitNo()"
                                >
                                    <ng-container *ngFor="let unitNumber of unitNumbers">
                                        <option 
                                            *ngIf="unitNumber.is_active" 
                                            value="{{unitNumber.id}}"
                                        >
                                            {{unitNumber.unit_number}}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-6/12 pr-2">
                            <div class="relative w-full mb-3">
                                <label class="inline-flex items-center cursor-pointer">
                                    <input
                                        id="customCheckLogin"
                                        type="checkbox"
                                        class="form-checkbox text-gray-800 ml-1 w-5 h-5 ease-linear transition-all duration-150"
                                        formControlName="is_active"
                                    />
                                    <span class="ml-2 text-sm font-semibold text-gray-700">
                                        Active
                                    </span>
                                </label>
                            </div>
                        </div>

                        <div class="w-full lg:w-6/12 pr-2">
                            <div class="relative w-full mb-3">
                                <label class="inline-flex items-center cursor-pointer">
                                    <input
                                        id="customCheckLogin"
                                        type="checkbox"
                                        class="form-checkbox text-gray-800 ml-1 w-5 h-5 ease-linear transition-all duration-150"
                                        formControlName="is_maintenance"
                                    />
                                    <span class="ml-2 text-sm font-semibold text-gray-700">
                                        Maintenance
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </form>

                <hr class="my-3 border-b-1 border-gray-400" />

                <p class="legend">* - Mandatory</p>
                <p class="legend">** - Auto generated</p>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
                <button 
                    class="text-teal-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" 
                    type="button" 
                    (click)="toggleAddModal('cancel')"
                >
                    Cancel
                </button>

                <button 
                    class="bg-teal-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" 
                    type="button" 
                    (click)="create()"
                    [disabled]="!unitForm.valid"
                >
                    Register
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="addModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>