<p-table #floorsTable
    [value]="floors"
    [rows]="5"
    [paginator]="true"
    [loading]="isLoadingData && floors.length === 0"
    [resizableColumns]="true"
    styleClass="rounded-bottom">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="floor">
                Block
                <p-sortIcon field="floor"></p-sortIcon>
            </th>
            <th pSortableColumn="isActive">
                Active
                <p-sortIcon field="isActive"></p-sortIcon>
            </th>
            <th pSortableColumn="lastModifiedAt">
                Last modified
                <p-sortIcon field="lastModifiedAt"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-floor>
        <tr [pSelectableRow]="floor">
            <td>
                {{ floor.floor }}
            </td>
            <td>
                <span class="status-badge"
                    [ngClass]="floor.isActive ? 'status-badge-success' : 'status-badge-warning'">
                    {{ floor.isActive | isActivePipe }}
                </span>
            </td>
            <td>
                {{ floor.lastModifiedAt | date : 'dd/MM/yyyy' }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr *ngFor="let loadingRow of [0, 1, 2]">
            <td *ngFor="let loadingRow of [0, 1, 2]">
                <div style="flex: 1">
                    <p-skeleton width="100%"
                        styleClass="my-1">
                    </p-skeleton>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>