<div class="pt-11 pb-6">
    <div class="flex flex-wrap w-full relative">
        <button
            (click)="toggleModal()"
            type="button"
            class="bg-white text-teal-500 active:bg-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 ml-auto"
        >
            <i class="fas fa-plus"></i> Add
        </button>
    </div>

    <div *ngIf="addModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-auto my-6 mx-auto max-w-sm">
          <!--content-->
          <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
              <h3 class="text-3xl font-semibold">
                Modal Title
              </h3>
              <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
                <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                  ×
                </span>
              </button>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto">
              <p class="my-4 text-gray-600 text-lg leading-relaxed">
                I always felt like I could do anything. That’s the main
                thing people are controlled by! Thoughts- their perception
                of themselves! They're slowed down by their perception of
                themselves. If you're taught you can’t do anything, you
                won’t do anything. I was taught I could do everything.
              </p>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-6 border-t border-solid border-gray-300 rounded-b">
                <button 
                class="text-teal-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" 
                type="button" 
                (click)="toggleModal()"
            >
                Close
            </button>

            <button 
                class="bg-teal-500 text-white active:bg-green-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" 
                type="button" 
                (click)="create()"
            >
                Save Changes
            </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="addModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

    <div 
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white mt-3"
    >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1 bg-gray">
                    <h3 class="font-semibold text-lg text-gray-800">
                        Tenants
                    </h3>
                </div>
            </div>
        </div>
        <div class="rounded-b block w-full overflow-x-auto">
            <div class="border-collapse w-full">
                <ngx-datatable
                    class="material"
                    columnMode="force"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [limit]="tableEntries != -1 ? tableEntries:undefined"
                    [rows]="tableTemp"
                    (activate)="onActivate($event)"
                >
                    <ngx-datatable-column
                        prop="user_id"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>User ID</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.user_id}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="name"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Name</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.name}}
                        </ng-template>
                    </ngx-datatable-column>
                    
                    <ngx-datatable-column
                        prop="email"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Email</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.email}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="joined_at"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Joined at</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.joined_at}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="user_type"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>User type</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.user_type}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        prop="is_active"
                    >
                        <ng-template ngx-datatable-header-template>
                            <span>Status</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <span 
                                *ngIf="row.is_active == 'Active'"
                                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-green-600 bg-green-200 uppercase last:mr-0 mr-1"
                            >
                                Active
                            </span>
                            <span 
                                *ngIf="row.is_active == 'Inactive'"
                                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-orange-600 bg-orange-200 uppercase last:mr-0 mr-1"
                            >
                                Inactive
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>