<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark mt-0 shadow-lg overflow-y-scroll vh-100"
    style="width: 17rem;">
    <ul class="nav nav-pills flex-column mb-auto">
        <ng-template ngFor
            let-menu
            let-i="index"
            [ngForOf]="menus">
            <li class="nav-item">
                <a *ngIf="menu.type === 'link'; else notLink"
                    class="nav-link cursor-pointer" 
                    [routerLink]="menu.path"
                    [routerLinkActive]="['active']" >
                    <i [class]="menu.icon + ' fa-fw'"></i>
                    {{ menu.title }}
                </a>
                <ng-template #notLink>
                    <a class="nav-link cursor-pointer collapsed"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#subMenu' + i"
                        [attr.aria-expanded]="subMenu.isActive">
                        <i [class]="menu.icon + ' fa-fw'"></i>
                        {{ menu.title }}
                        <i class="fas fa-angle-right float-end"></i>
                    </a>

                    <div routerLinkActive
                        #subMenu="routerLinkActive"
                        [id]="'subMenu' + i"
                        class="collapse"
                        [routerLinkActive]="['show']">
                        <ul
                            class="nav flex-column">
                            <ng-template ngFor
                                let-sub
                                [ngForOf]="menu.children">
                                <li class="w-100">
                                    <a class="nav-link"
                                        [routerLink]="sub.path"
                                        [routerLinkActive]="['active']"
                                        [routerLinkActiveOptions]="{exact: true}">
                                        <i class="fa-solid fa-fw"></i>
                                        <span class="d-none d-sm-inline">
                                            {{ sub.title }}
                                        </span> 
                                    </a>
                                </li>
                            </ng-template>
                        </ul>
                    </div>
                </ng-template>
            </li>
        </ng-template>
    </ul>
</div>