<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark mt-0 shadow-lg min-vh-100" style="width: 200px">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link cursor-pointer" 
                [routerLink]="'/dashboard'"
                [routerLinkActive]="['active']" >
                <i class="fas fa-house-user fa-fw"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link cursor-pointer" 
                [routerLink]="'/settings'"
                [routerLinkActive]="['active']" >
                <i class="fas fa-cogs fa-fw"></i>
                Settings
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link cursor-pointer" 
                [routerLink]="'/test'"
                [routerLinkActive]="['active']" >
                <i class="fas fa-flask fa-fw"></i>
                Test
            </a>
        </li>
    </ul>
</div>