<div class="container-fluid pt-5">
    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <h6 class="card-subtitle text-muted text-uppercase small fw-semibold">
                                Total tickets
                            </h6>
                            <h2 class="text-muted mb-0">
                                {{ overview?.tickets?.count }}
                            </h2>
                            <span class="badge bg-opacity-10 text-opacity-75 mb-0"
                                [ngClass]="{
                                    'bg-danger text-danger': overview?.tickets?.percentage !== null &&
                                        overview?.tickets?.percentage! < 0,
                                    'bg-success text-success': overview?.tickets?.percentage === null ||
                                        overview?.tickets?.percentage! > 0
                                         
                                }">
                                <i class="fa-solid"
                                    [ngClass]="{
                                        'fa-caret-down': overview?.tickets?.percentage !== null &&
                                            overview?.tickets?.percentage! < 0,
                                        'fa-caret-up':  overview?.tickets?.percentage === null ||
                                            overview?.tickets?.percentage! > 0
                                    }"></i>
                                {{  overview?.tickets?.percentage !== null ?
                                    overview?.tickets?.percentage :
                                    '∞' }} %
                            </span>
                        </div>
                        <div class="flex-shrink-0"
                            style="height: 3rem; width: 3rem">
                            <span class="d-flex align-items-center 
                                justify-content-center bg-primary 
                                text-primary rounded-circle fs-5
                                bg-opacity-25 h-100">
                                <i class="fa-solid fa-ticket align-middle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <h6 class="card-subtitle text-muted text-uppercase small fw-semibold">
                                Total opened
                            </h6>
                            <h2 class="text-muted mb-0">
                                {{ overview?.opened?.count }}
                            </h2>
                            <span class="badge bg-opacity-10 text-opacity-75 mb-0"
                                [ngClass]="{
                                    'bg-danger text-danger': overview?.opened?.percentage !== null &&
                                        overview?.opened?.percentage! < 0,
                                    'bg-success text-success': overview?.opened?.percentage === null ||
                                        overview?.opened?.percentage! > 0
                                         
                                }">
                                <i class="fa-solid"
                                    [ngClass]="{
                                        'fa-caret-down': overview?.opened?.percentage !== null &&
                                            overview?.opened?.percentage! < 0,
                                        'fa-caret-up':  overview?.opened?.percentage === null ||
                                            overview?.opened?.percentage! > 0
                                    }"></i>
                                {{  overview?.opened?.percentage !== null ?
                                    overview?.opened?.percentage :
                                    '∞' }} %
                            </span>
                        </div>
                        <div class="flex-shrink-0"
                            style="height: 3rem; width: 3rem">
                            <span class="d-flex align-items-center 
                                justify-content-center bg-info 
                                text-info rounded-circle fs-5
                                bg-opacity-25 h-100">
                                <i class="fa-solid fa-folder-open align-middle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <h6 class="card-subtitle text-muted text-uppercase small fw-semibold">
                                Total in progress
                            </h6>
                            <h2 class="text-muted mb-0">
                                {{ overview?.inProgress?.count }}
                            </h2>
                            <span class="badge bg-opacity-10 text-opacity-75 mb-0"
                                [ngClass]="{
                                    'bg-danger text-danger': overview?.inProgress?.percentage !== null &&
                                        overview?.inProgress?.percentage! < 0,
                                    'bg-success text-success': overview?.inProgress?.percentage === null ||
                                        overview?.inProgress?.percentage! > 0
                                         
                                }">
                                <i class="fa-solid"
                                    [ngClass]="{
                                        'fa-caret-down': overview?.inProgress?.percentage !== null &&
                                            overview?.inProgress?.percentage! < 0,
                                        'fa-caret-up':  overview?.inProgress?.percentage === null ||
                                            overview?.inProgress?.percentage! > 0
                                    }"></i>
                                {{  overview?.inProgress?.percentage !== null ?
                                    overview?.inProgress?.percentage :
                                    '∞' }} %
                            </span>
                        </div>
                        <div class="flex-shrink-0"
                            style="height: 3rem; width: 3rem">
                            <span class="d-flex align-items-center 
                                justify-content-center bg-warning 
                                text-warning rounded-circle fs-5
                                bg-opacity-25 h-100">
                                <i class="fa-solid fa-clipboard-list align-middle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <h6 class="card-subtitle text-muted text-uppercase small fw-semibold">
                                Total completed
                            </h6>
                            <h2 class="text-muted mb-0">
                                {{ overview?.completed?.count }}
                            </h2>
                            <span class="badge bg-opacity-10 text-opacity-75 mb-0"
                                [ngClass]="{
                                    'bg-danger text-danger': overview?.completed?.percentage !== null &&
                                        overview?.completed?.percentage! < 0,
                                    'bg-success text-success': overview?.completed?.percentage === null ||
                                        overview?.completed?.percentage! > 0
                                         
                                }">
                                <i class="fa-solid"
                                    [ngClass]="{
                                        'fa-caret-down': overview?.completed?.percentage !== null &&
                                            overview?.completed?.percentage! < 0,
                                        'fa-caret-up':  overview?.completed?.percentage === null ||
                                            overview?.completed?.percentage! > 0
                                    }"></i>
                                {{  overview?.completed?.percentage !== null ?
                                    overview?.completed?.percentage :
                                    '∞' }} %
                            </span>
                        </div>
                        <div class="flex-shrink-0"
                            style="height: 3rem; width: 3rem">
                            <span class="d-flex align-items-center 
                                justify-content-center bg-success 
                                text-success rounded-circle fs-5
                                bg-opacity-25 h-100">
                                <i class="fa-solid fa-clipboard-check align-middle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-lg-7">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Overview
                    </h6>
                    <h5 class="card-title mb-2">
                        Ticket status
                    </h5>

                    <div class="w-100" style="height: 23rem">
                        <ngx-charts-area-chart
                            [scheme]="colorScheme"
                            [results]="statusOverview"
                            [yAxisTickFormatting]="axisFormat"
                            [xAxis]="true"
                            [yAxis]="true"
                            [showXAxisLabel]="true"
                            [showYAxisLabel]="true"
                            [xAxisLabel]="'Month'"
                            [yAxisLabel]="'# of Tickets'">
                        </ngx-charts-area-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-5">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Overview
                    </h6>
                    <h5 class="card-title mb-2">
                        Ticket priority
                    </h5>

                    <div class="w-100" style="height: 23rem">
                        <ngx-charts-pie-chart
                            [scheme]="colorScheme"
                            [results]="priorityOverview"
                            [labels]="true"
                            [legend]="false">
                        </ngx-charts-pie-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>