<div class="container-fluid pt-5">
    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <h6 class="card-subtitle text-muted text-uppercase small fw-semibold">
                                Total tickets
                            </h6>
                            <h2 class="text-muted mb-0">
                                {{ overviewData?.total?.tickets?.count }}
                            </h2>
                            <span class="badge bg-opacity-10 text-opacity-75 mb-0"
                                [ngClass]="{
                                    'bg-danger text-danger': overviewData?.total?.tickets?.percentage !== null &&
                                        overviewData?.total?.tickets?.percentage! < 0,
                                    'bg-success text-success': overviewData?.total?.tickets?.percentage === null ||
                                        overviewData?.total?.tickets?.percentage! > 0
                                         
                                }">
                                <i class="fa-solid"
                                    [ngClass]="{
                                        'fa-caret-down': overviewData?.total?.tickets?.percentage !== null &&
                                            overviewData?.total?.tickets?.percentage! < 0,
                                        'fa-caret-up':  overviewData?.total?.tickets?.percentage === null ||
                                            overviewData?.total?.tickets?.percentage! > 0
                                    }"></i>
                                {{  overviewData?.total?.tickets?.percentage !== null ?
                                    overviewData?.total?.tickets?.percentage :
                                    '∞' }} %
                            </span>
                        </div>
                        <div class="flex-shrink-0"
                            style="height: 3rem; width: 3rem">
                            <span class="d-flex align-items-center 
                                justify-content-center bg-primary 
                                text-primary rounded-circle fs-5
                                bg-opacity-25 h-100">
                                <i class="fa-solid fa-ticket align-middle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <h6 class="card-subtitle text-muted text-uppercase small fw-semibold">
                                Total opened
                            </h6>
                            <h2 class="text-muted mb-0">
                                {{ overviewData?.total?.opened?.count }}
                            </h2>
                            <span class="badge bg-opacity-10 text-opacity-75 mb-0"
                                [ngClass]="{
                                    'bg-danger text-danger': overviewData?.total?.opened?.percentage !== null &&
                                        overviewData?.total?.opened?.percentage! < 0,
                                    'bg-success text-success': overviewData?.total?.opened?.percentage === null ||
                                        overviewData?.total?.opened?.percentage! > 0
                                         
                                }">
                                <i class="fa-solid"
                                    [ngClass]="{
                                        'fa-caret-down': overviewData?.total?.opened?.percentage !== null &&
                                            overviewData?.total?.opened?.percentage! < 0,
                                        'fa-caret-up':  overviewData?.total?.opened?.percentage === null ||
                                            overviewData?.total?.opened?.percentage! > 0
                                    }"></i>
                                {{  overviewData?.total?.opened?.percentage !== null ?
                                    overviewData?.total?.opened?.percentage :
                                    '∞' }} %
                            </span>
                        </div>
                        <div class="flex-shrink-0"
                            style="height: 3rem; width: 3rem">
                            <span class="d-flex align-items-center 
                                justify-content-center bg-info 
                                text-info rounded-circle fs-5
                                bg-opacity-25 h-100">
                                <i class="fa-solid fa-folder-open align-middle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <h6 class="card-subtitle text-muted text-uppercase small fw-semibold">
                                Total in progress
                            </h6>
                            <h2 class="text-muted mb-0">
                                {{ overviewData?.total?.inProgress?.count }}
                            </h2>
                            <span class="badge bg-opacity-10 text-opacity-75 mb-0"
                                [ngClass]="{
                                    'bg-danger text-danger': overviewData?.total?.inProgress?.percentage !== null &&
                                        overviewData?.total?.inProgress?.percentage! < 0,
                                    'bg-success text-success': overviewData?.total?.inProgress?.percentage === null ||
                                        overviewData?.total?.inProgress?.percentage! > 0
                                         
                                }">
                                <i class="fa-solid"
                                    [ngClass]="{
                                        'fa-caret-down': overviewData?.total?.inProgress?.percentage !== null &&
                                            overviewData?.total?.inProgress?.percentage! < 0,
                                        'fa-caret-up':  overviewData?.total?.inProgress?.percentage === null ||
                                            overviewData?.total?.inProgress?.percentage! > 0
                                    }"></i>
                                {{  overviewData?.total?.inProgress?.percentage !== null ?
                                    overviewData?.total?.inProgress?.percentage :
                                    '∞' }} %
                            </span>
                        </div>
                        <div class="flex-shrink-0"
                            style="height: 3rem; width: 3rem">
                            <span class="d-flex align-items-center 
                                justify-content-center bg-warning 
                                text-warning rounded-circle fs-5
                                bg-opacity-25 h-100">
                                <i class="fa-solid fa-clipboard-list align-middle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-50px">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 me-3">
                            <h6 class="card-subtitle text-muted text-uppercase small fw-semibold">
                                Total completed
                            </h6>
                            <h2 class="text-muted mb-0">
                                {{ overviewData?.total?.completed?.count }}
                            </h2>
                            <span class="badge bg-opacity-10 text-opacity-75 mb-0"
                                [ngClass]="{
                                    'bg-danger text-danger': overviewData?.total?.completed?.percentage !== null &&
                                        overviewData?.total?.completed?.percentage! < 0,
                                    'bg-success text-success': overviewData?.total?.completed?.percentage === null ||
                                        overviewData?.total?.completed?.percentage! > 0
                                         
                                }">
                                <i class="fa-solid"
                                    [ngClass]="{
                                        'fa-caret-down': overviewData?.total?.completed?.percentage !== null &&
                                            overviewData?.total?.completed?.percentage! < 0,
                                        'fa-caret-up':  overviewData?.total?.completed?.percentage === null ||
                                            overviewData?.total?.completed?.percentage! > 0
                                    }"></i>
                                {{  overviewData?.total?.completed?.percentage !== null ?
                                    overviewData?.total?.completed?.percentage :
                                    '∞' }} %
                            </span>
                        </div>
                        <div class="flex-shrink-0"
                            style="height: 3rem; width: 3rem">
                            <span class="d-flex align-items-center 
                                justify-content-center bg-success 
                                text-success rounded-circle fs-5
                                bg-opacity-25 h-100">
                                <i class="fa-solid fa-clipboard-check align-middle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div class="col-sm-12 col-lg-7">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Overview
                    </h6>
                    <h5 class="card-title mb-2">
                        Ticket status
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-5">
            <div class="card shadow-sm border-0">
                <div class="card-body min-h-300px">
                    <h6 class="card-subtitle text-muted">
                        Overview
                    </h6>
                    <h5 class="card-title mb-2">
                        Ticket priority
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>