<div class="container-fluid pt-5">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title">
                List of vehicles
            </h5>

            <h6 class="card-subtitle mb-3 text-muted">
                Manage vehicles here
            </h6>

            <div *ngIf="tableRows.length > 0; else isNoRowData">
                <ngx-datatable
                    class="bootstrap rounded-2"
                    [rows]="tableRows"
                    [columnMode]="ColumnMode.flex"
                    [limit]="5"
                    rowHeight="auto"
                    [footerHeight]="50"
                    [messages]="tableMessages"
                    [cssClasses]="tableClass">
                    <ngx-datatable-column
                        name="ID"
                        prop="id"
                        [flexGrow]="1"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p class="mb-0">
                                {{ value }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Plate no."
                        prop="plateNo"
                        [flexGrow]="2"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p class="mb-0">
                                {{ value }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Type"
                        prop="vehicleType"
                        [flexGrow]="2"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p [badgeVehicleType]="value"></p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Active"
                        prop="isActive"
                        [flexGrow]="2"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p [badgeIsActive]="value"></p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Created at"
                        prop="createdAt"
                        [flexGrow]="3"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p class="mb-0">
                                {{ value | date : 'dd/MM/yyyy' }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>
                    
                    <ngx-datatable-column
                        name="Action"
                        prop="id"
                        [flexGrow]="2"
                        [sortable]="false"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <button
                                class="btn btn-outline-primary btn-sm"
                                (click)="onSelect(value)">
                                View
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            
            <ng-template #isNoRowData>
                <div *ngIf="!isProcessing;">
                    <div class="text-center">
                        <img src="assets/images/illustrations/empty.png"
                            style="height: 14rem;">
                        <p class="text-muted">Empty data</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>