<div class="container-fluid">
    <div class="row mb-3">
        <div class="col text-end">
            <button
                class="btn btn-outline-primary btn-sm"
                [routerLink]="'detail/new'">
                <i class="fa-solid fa-file-circle-plus"></i>
                Add ticket
            </button>
        </div>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title">
                List of tickets
            </h5>

            <h6 class="card-subtitle mb-3 text-muted">
                Manage tickets here
            </h6>
            
            <div *ngIf="tableRows.length > 0; else isNoRowData">
                <ngx-datatable
                    class="bootstrap rounded-2"
                    [rows]="tableRows"
                    [columnMode]="ColumnMode.flex"
                    [limit]="5"
                    rowHeight="auto"
                    [footerHeight]="50"
                    [messages]="tableMessages"
                    [cssClasses]="tableClass">
                    <ngx-datatable-column
                        name="ID"
                        prop="ticketNo"
                        [flexGrow]="3"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p class="mb-0">
                                {{ value }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Title"
                        prop="title"
                        [flexGrow]="4.5"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p
                                class="mb-0 text-truncate"
                                [title]="value">
                                {{ value }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Status"
                        prop="status"
                        [flexGrow]="2.5"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p [tixStatus]="value"></p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Category"
                        prop="category"
                        [flexGrow]="2"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p [tixCategory]="value"></p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Priority"
                        prop="priority"
                        [flexGrow]="2"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p [tixPriority]="value"></p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Created at"
                        prop="createdAt"
                        [flexGrow]="3"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <p class="mb-0">
                                {{ value | date : 'dd/MM/yyyy' }}
                            </p>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column
                        name="Action"
                        prop="id"
                        [flexGrow]="2"
                        [sortable]="false"
                        [draggable]="false"
                        [resizeable]="false">
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template>
                            <button
                                class="btn btn-outline-primary btn-sm"
                                (click)="onSelect(value)">
                                View
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            
            <ng-template #isNoRowData>
                <div *ngIf="!isProcessing;">
                    <div class="text-center">
                        <img
                            src="assets/images/illustrations/empty.png"
                            style="height: 14rem;">
                        <p class="text-muted">Empty data</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>