<div class="card shadow">
    <div class="card-body">
        <h5 class="card-title mb-0">
            Available unit numbers
        </h5>
    </div>
    <p-table #unitNumbersTable
        [value]="unitNumbers"
        [rows]="5"
        [paginator]="true"
        [loading]="isLoadingData && unitNumbers.length === 0"
        [resizableColumns]="true"
        styleClass="rounded-bottom">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="unitNumber">
                    Block
                    <p-sortIcon field="unitNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="isActive">
                    Active
                    <p-sortIcon field="isActive"></p-sortIcon>
                </th>
                <th pSortableColumn="lastModifiedAt">
                    Last modified
                    <p-sortIcon field="lastModifiedAt"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-unitNumber>
            <tr [pSelectableRow]="unitNumber">
                <td>
                    {{ unitNumber.unitNumber }}
                </td>
                <td>
                    <span class="status-badge"
                        [ngClass]="unitNumber.isActive ? 'status-badge-success' : 'status-badge-warning'">
                        {{ unitNumber.isActive | isActivePipe }}
                    </span>
                </td>
                <td>
                    {{ unitNumber.lastModifiedAt | date : 'dd/MM/yyyy' }}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr *ngFor="let loadingRow of [0, 1, 2]">
                <td *ngFor="let loadingRow of [0, 1, 2]">
                    <div style="flex: 1">
                        <p-skeleton width="100%"
                            styleClass="my-1">
                        </p-skeleton>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
