<ngx-loading-bar color="#2c7a7b" height="4px"></ngx-loading-bar>
<app-auth-navbar></app-auth-navbar>
<main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
        <div 
            class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('assets/img/background/urban-buildings.jpg');
            "
        >
            <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
        </div>
        
        <div class="container relative mx-auto">
            <div class="items-center flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                    <div class="pr-12">
                        <h1 class="text-white font-semibold text-5xl">
                            Managing building, at the tip of your fingers.
                        </h1>
        
                        <p class="mt-4 text-lg text-gray-300">
                            Making your management process easier and organized.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div 
            class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
            style="transform: translateZ(0);"
        >
            <svg 
                class="absolute bottom-0 overflow-hidden" 
                xmlns="http://www.w3.org/2000/svg" 
                preserveAspectRatio="none"
                version="1.1" 
                viewBox="0 0 2560 100" 
                x="0" 
                y="0"
            >
                <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <section class="pb-20 bg-gray-300 -mt-24">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
                <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <img src="assets/img/illustration/organize-project.svg">

                            <h6 class="text-xl font-semibold">Lorum ipsum</h6>

                            <p class="mt-2 mb-4 text-gray-600">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Ut rutrum laoreet mauris vitae euismod.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <img src="assets/img/illustration/add-task.svg">

                            <h6 class="text-xl font-semibold">Lorum ipsum</h6>

                            <p class="mt-2 mb-4 text-gray-600">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Ut rutrum laoreet mauris vitae euismod.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="pt-6 w-full md:w-4/12 px-4 text-center">
                    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <img src="assets/img/illustration/accept-task.svg">

                            <h6 class="text-xl font-semibold">Lorum ipsum</h6>

                            <p class="mt-2 mb-4 text-gray-600">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Ut rutrum laoreet mauris vitae euismod.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap items-center mt-32">
                <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
                    <div
                        class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
                    >
                        <i class="fas fa-user-friends text-xl"></i>
                    </div>

                    <h3 class="text-3xl mb-2 font-semibold leading-normal">
                        
                    </h3>

                    <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut rutrum laoreet mauris vitae euismod.
                    </p>

                    <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut rutrum laoreet mauris vitae euismod.
                    </p>

                    <!-- <a [routerLink]="['/']" class="font-bold text-gray-800 mt-8">
                        Contact
                    </a> -->
                </div>

                <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
                    <div
                        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-teal-600"
                    >
                        <img 
                            alt="..."
                            src="/assets/img/presentation/dashboard.png"
                            class="w-full align-middle rounded-t-lg" 
                        />

                        <blockquote class="relative p-8 mb-4">
                            <svg 
                                preserveAspectRatio="none" 
                                xmlns="http://www.w3.org/2000/svg" 
                                viewBox="0 0 583 95"
                                class="absolute left-0 w-full block h-95-px -top-94-px"
                            >
                                <polygon points="-30,95 583,95 583,65" class="text-teal-600 fill-current"></polygon>
                            </svg>

                            <h4 class="text-xl font-bold text-white">
                                Analytical dashboard
                            </h4>

                            <p class="text-md font-light mt-2 text-white">
                                Giving you a full detailed view of 
                                building management wihtout any hassle.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="relative py-20">
        <div 
            class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
            style="transform: translateZ(0);"
        >
            <svg 
                class="absolute bottom-0 overflow-hidden" 
                xmlns="http://www.w3.org/2000/svg" 
                preserveAspectRatio="none"
                version="1.1" 
                viewBox="0 0 2560 100" 
                x="0" 
                y="0"
            >
                <polygon class="text-white fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>

        <div class="container mx-auto px-4">
            <div class="items-center flex flex-wrap">
                <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
                    <img 
                        alt="..." 
                        class="max-w-full rounded-lg shadow-lg"
                        src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />
                </div>

                <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
                    <div class="md:pr-12">
                        <div
                            class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300">
                            <i class="fas fa-rocket text-xl"></i>
                        </div>
                        <h3 class="text-3xl font-semibold">A growing company</h3>
                        <p class="mt-4 text-lg leading-relaxed text-gray-600">
                            The extension comes with three pre-built pages to help you get
                            started faster. You can change the text and images and you're good
                            to go.
                        </p>
                        <ul class="list-none mt-6">
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                                            <i class="fas fa-fingerprint"></i>
                                        </span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">
                                            Carefully crafted components
                                        </h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                                            <i class="fab fa-html5"></i>
                                        </span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">
                                            Amazing page examples
                                        </h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div>
                                        <span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                                            <i class="far fa-paper-plane"></i>
                                        </span>
                                    </div>
                                    <div>
                                        <h4 class="text-gray-600">Dynamic components</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="pb-20 relative block bg-gray-900">
        <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
            style="transform: translateZ(0);">
            <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
                version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>

        <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
            <div class="flex flex-wrap text-center justify-center">
                <div class="w-full lg:w-6/12 px-4">
                    <h2 class="text-4xl font-semibold text-white">
                        Extras
                    </h2>
                    <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
                        Something goes here
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap mt-12 justify-center">
                <div class="w-full lg:w-3/12 px-4 text-center">
                    <div
                        class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                        <i class="fas fa-medal text-xl"></i>
                    </div>
                    <h6 class="text-xl mt-5 font-semibold text-white">
                        Introduction
                    </h6>
                    <p class="mt-2 mb-4 text-gray-500">
                        Coming soon...
                    </p>
                </div>
                <div class="w-full lg:w-3/12 px-4 text-center">
                    <div
                        class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                        <i class="fas fa-poll text-xl"></i>
                    </div>
                    <h5 class="text-xl mt-5 font-semibold text-white">
                        Help
                    </h5>
                    <p class="mt-2 mb-4 text-gray-500">
                        Coming soon...
                    </p>
                </div>
                <div class="w-full lg:w-3/12 px-4 text-center">
                    <div
                        class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
                        <i class="fas fa-lightbulb text-xl"></i>
                    </div>
                    <h5 class="text-xl mt-5 font-semibold text-white">
                        Contact
                    </h5>
                    <p class="mt-2 mb-4 text-gray-500">
                        Coming soon...
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="relative block py-24 lg:pt-0 bg-gray-900">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
                <div class="w-full lg:w-6/12 px-4">
                    <div
                        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300">
                        <div class="flex-auto p-5 lg:p-10">
                            <h4 class="text-2xl font-semibold">
                                Make a complaint
                            </h4>
                            <p class="leading-relaxed mt-1 mb-4 text-gray-600">
                                Having any problem? Complete this form and we will get back to you in 24 hours.
                            </p>
                            
                            <form [formGroup]="complaintForm">
                                <div class="relative w-full mb-3 mt-8">
                                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="full-name">
                                        Full name 
                                        <span class="legend-marker">*</span>
                                    </label>
                                    <input 
                                        type="text"
                                        class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                                        placeholder="Full name" 
                                        formControlName="complainant"
                                    />
                                </div>

                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2">
                                        Unit 
                                        <span class="legend-marker">*</span>
                                    </label>
                                    <select
                                        class="custom-select px-3 py-3 placeholder-gray-400 text-gray-700 relative rounded text-sm border border-gray-400 outline-none focus:outline-none focus:shadow-outline w-full"
                                        formControlName="unit"
                                        placeholder="Unit"
                                    >
                                        <option hidden selected value="null">Please select</option>
                                        <ng-container *ngFor="let unit of units">
                                            <option value="{{unit.id}}">{{unit.unit_no}}</option>
                                        </ng-container>
                                    </select>
                                </div>
    
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="email">
                                        Contact no. 
                                        <span class="legend-marker">*</span>
                                    </label>
                                    <input 
                                        type="text"
                                        class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
                                        placeholder="Contant no."
                                        formControlName="contact_number"
                                    />
                                </div>
    
                                <div class="relative w-full mb-3">
                                    <label class="block uppercase text-gray-700 text-xs font-bold mb-2" htmlFor="message">
                                        Complaint 
                                        <span class="legend-marker">*</span>
                                    </label>
                                    <textarea 
                                        rows="4" 
                                        cols="80"
                                        formControlName="complaint"
                                        class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full"
                                        placeholder="Type a complaint..."></textarea>
                                </div>
                            </form>

                            <hr class="my-3 border-b-1 border-gray-400" />

                            <p class="legend">* - Mandatory</p>
                            
                            <div class="text-center mt-6">
                                <button
                                    class="bg-gray-900 text-white active:bg-gray-700 disabled:bg-gray-500 disabled:opacity-50 disabled:cursor-not-allowed text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                                    type="button"
                                    (click)="sendComplaint()"
                                    [disabled]="!complaintForm.valid"
                                >
                                    Send complaint
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<button
    *ngIf="isShowAutoScroll"
    (click)="goTop()"
    class="go-top z-50 bg-teal-500 text-white active:bg-teal-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button"
>
    <i class="fas fa-chevron-up"></i>
</button>
<app-footer></app-footer>