<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        Vehicle information
                    </h5>

                    <div class="mb-2">
                        <label class="fw-bold text-uppercase small">
                            Plate no.:
                        </label>
                        <p class="text-muted small">
                            {{ vehicle?.plateNo }}
                        </p>
                    </div>

                    <div class="mb-2">
                        <label class="fw-bold text-uppercase small">
                            Vehicle type:
                        </label>
                        <p class="text-muted small">
                            {{ vehicle?.vehicleType | vehicleType }}
                        </p>
                    </div>

                    <div class="mb-2">
                        <label class="fw-bold text-uppercase small d-block">
                            Active:
                        </label>
                        <p 
                            [badgeIsActive]="vehicle ?
                                vehicle.isActive : false">
                        </p>

                        <div class="mb-2">
                            <label class="fw-bold text-uppercase small">
                                Added on
                            </label>
                            <p class="text-muted small">
                                {{ vehicle?.createdAt | date: 'dd/MM/yyyy, h:mm a' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="card-title">
                        Resident information
                    </h5>
                    
                    <div class="mb-2">
                        <label class="fw-bold text-uppercase small">
                            Resident no.:
                        </label>
                        <p class="text-muted small">
                            {{ vehicle?.resident?.residentNo }}
                        </p>
                    </div>

                    <div class="mb-2">
                        <label class="fw-bold text-uppercase small">
                            Name:
                        </label>
                        <p class="text-muted small">
                            {{ vehicle?.resident?.name }}
                        </p>
                    </div>

                    <div class="mb-2">
                        <label class="fw-bold text-uppercase small">
                            Phone no.:
                        </label>
                        <p class="text-muted small">
                            {{ vehicle?.resident?.phoneNo }}
                        </p>
                    </div>

                    <div class="mb-2">
                        <label class="fw-bold text-uppercase small">
                            Email:
                        </label>
                        <p class="text-muted small">
                            {{ vehicle?.resident?.email }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>