<div>
    <!-- Loading bar -->
    <ngx-loading-bar 
        [color]="barConfig.color" 
        [includeSpinner]="barConfig.includeSpinner"
        [height]="barConfig.height"
        [ref]="barConfig.ref">
    </ngx-loading-bar>
    <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-rotate" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->
    <!-- Top navbar -->
    <app-user-navbar
        [isMenuOpen]="isMenuOpen"
        (toggleMenuEvent)="receiveToggle()">
    </app-user-navbar>

    <!-- Sidebar -->
    <div class="border-end border-dark shadow-sm"
        @slideLeftRight
        *ngIf="isMenuOpen">
        <app-user-sidebar class="flex-column"
            [ngClass]="{
                'position-fixed': isMobileResolution === false
            }">
        </app-user-sidebar>
    </div>

    <!-- Pages and footer -->
    <div style="transition: 0.3s ease-in;"
        [ngStyle]="isMenuOpen ? {'margin-left': '200px'} : {'margin-left': '0'}">
        <div class="py-4">
            <router-outlet></router-outlet>
        </div>
        <app-user-footer></app-user-footer>
    </div>

    <!-- <div class="container-fluid bg-theme">
        <div class="row flex-nowrap">
            <div class="col-auto px-0">
                <div *ngIf="isMenuOpen"
                    @slideLeftRight
                    class="border-end border-dark shadow-sm">
                    <app-user-sidebar [ngClass]="{
                            'fixed': isMobileResolution === false
                        }">
                    </app-user-sidebar>
                </div>
            </div>
            <main class="col p-0 pt-2">
                <div class="py-4">
                    <router-outlet></router-outlet>
                </div>
                <app-user-footer></app-user-footer>
            </main>
        </div>
    </div> -->
</div>