// Padding
.pl-2 {
    padding-left: 0.5rem;
}
.pr-2 {
    padding-right: 0.5rem;
}
.p-6 {
    padding: 1.5rem;
}
@media (min-width: 1024px) {
    .lg\:pl-2 {
        padding-left: 0.5rem;
    }
    .lg\:pr-2 {
        padding-right: 0.5rem;
    }
}
// Margin
.ml-4 {
    margin-left: 1rem;
}

.ml-5 {
    margin-left: 1.25rem;
}

.ml-6 {
    margin-left: 1.50rem;
}

.ml-7 {
    margin-left: 1.75rem;
}

.ml-8 {
    margin-left: 2rem;
}

.ml-9 {
    margin-left: 2.25rem;
}

// Border
.rounded-b {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

// Collapse
.collapse {
    &:not(.show) {
      display: none;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.sub-icon {
    margin-top: auto !important;
    margin-bottom: auto !important;
    margin-left: auto !important;
    transition: all 0.2s ease-out !important;
}
.sub-icon-rotate {
    transform: rotate(-90deg)
}

.bg-min-height {
    min-height: 82vh;
    margin-bottom: 0!important;
}

// Modal
.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.max-w-sm {
    max-width: 24rem;
}
.opacity-25 {
    opacity: 0.25;
}

// Custom select

// Form
.custom-select {
    appearance: none;
    color: inherit;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.legend {
    font-size: 0.9rem;
    display: block;
}

.legend-marker {
    font-size: 0.9rem;
}