<nav class="navbar navbar-expand-lg bg-dark border-bottom border-dark navbar-dark border-3 shadow-lg px-3">
	<div class="container-fluid">
		<a class="navbar-brand"
			(click)="toggleMenu()"
			[title]="isMenuOpen ? 'Close menu' : 'Open menu'">
			<i class="fas text-white"
				[ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
		</a>
		<button 
			class="navbar-toggler" 
			type="button" 
			data-bs-toggle="collapse" 
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" 
			aria-expanded="false" 
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<!-- <div class="dropdown mb-2 mb-lg-0">
				<button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="avatarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
					<span *ngIf="user; else noUser">
						{{ user.email }}
					</span>
					<ng-template #noUser>
						-
					</ng-template>
				</button>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
					<li>
						<a class="dropdown-item cursor-pointer"
							[routerLink]="'/settings'"
							[routerLinkActive]="['active']">
							Settings
						</a>
					</li>
					<li>
						<a class="dropdown-item cursor-pointer"
							(click)="logout()">
							Logout
						</a>
					</li>
				</ul>
			</div> -->
		</div>
	</div>
</nav>