<div class="not-body">
    <div class="w-100">
        <div *ngIf="activities && activities.length > 0"
            class="timeline">
            <ng-template ngFor
                let-activity
                let-index="index"
                [ngForOf]="activities.reverse()">
                <div class="timeline-event">
                    <div class="timeline-point-track-container">
                        <div class="timeline-point bg-primary"
                            [ngClass]="{
                                'opacity-50 bg-opacity-25': index + 1 === activities.length
                            }">
                            <i *ngIf="index + 1 !== activities.length"
                                class="fa-solid fa-check m-auto fa-sm text-white">
                            </i>
                        </div>
                        <div class="timeline-track"></div>
                    </div>
    
                    <div class="timeline-content mb-3">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <p class="fw-bold mb-0">
                                    {{ activity.status | ticketStatus }}
                                </p>
                                <p class="fst-italic text-muted">
                                    {{ activity.notes }}
                                </p>
                                <p class="small fst-italic text-muted">
                                    {{ activity.createdAt | date: 'dd/MM/yyyy, h:mm a' }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>


        <!-- <div class="timeline" *ngIf="activities"> -->
            <!-- <ng-template ngFor
                let-activity
                [ngForOf]="activities">
                <div class="timeline-container"
                    [ngClass]="{
                        'primary': activity.status === ticketStatus.OPENED,
                        'warning': activity.status === ticketStatus.IN_PROGRESS,
                        'success': activity.status === ticketStatus.RESOLVED,
                        'danger': activity.status === ticketStatus.CLOSED,
                        'info': activity.status === ticketStatus.DUPLICATED
                    }">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-exclamation text-white"></i>
                    </div>
                    <div class="timeline-body shadow-sm">
                        <h4 class="timeline-title">
                            <span class="badge">
                                {{ activity.status | ticketStatus }}
                            </span>
                        </h4>
                        <p>
                            {{ activity.notes}}
                        </p>
                        <p class="timeline-subtitle">1 Hours Ago</p>
                    </div>
                </div>
            </ng-template> -->
            <!-- <div class="timeline-container primary">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Primary</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container danger">
                <div class="timeline-icon">
                    <i class="far fa-grin-hearts"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Danger</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">2 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container success">
                <div class="timeline-icon">
                    <i class="far fa-grin-tears"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Success</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">6 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container warning">
                <div class="timeline-icon">
                    <i class="far fa-grimace"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Warning</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Day Ago</p>
                </div>
            </div>
            <div class="timeline-container">
                <div class="timeline-icon">
                    <i class="far fa-grin-beam-sweat"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Secondary</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">3 Days Ago</p>
                </div>
            </div>
            <div class="timeline-container info">
                <div class="timeline-icon">
                    <i class="far fa-grin"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Info</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">4 Days Ago</p>
                </div>
            </div> -->
        <!-- </div> -->
    </div>
</div>