<div class="card shadow-sm border-0">
    <div class="card-body">
        <h5 class="card-title">
            Change password
        </h5>

        <form [formGroup]="changeForm"
            class="need-validation row">
            <div class="mb-3 col-sm-12 col-md-4 position-relative">
                <label for="formNewPassword1" class="form-label">
                    Password
                </label>
                <input id="formNewPassword1"
                    type="password"
                    class="form-control"
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                    formControlName="newPassword1"
                    [ngClass]="{
                        'is-invalid': changeForm.controls['newPassword1'].touched &&
                        changeForm.controls['newPassword1'].errors,
                        'is-valid': changeForm.controls['newPassword1'].touched &&
                        !changeForm.controls['newPassword1'].errors
                    }" />
                <div class="invalid-tooltip invalid-tooltip-right"
                    *ngIf="changeForm.controls['newPassword1'].errors &&
                    (changeForm.controls['newPassword1'].dirty || changeForm.controls['newPassword1'].touched)">
                    <ng-container *ngFor="let message of formMessages['newPassword1']">
                        <span *ngIf="changeForm.controls['newPassword1'].hasError(message.type) &&
                            (changeForm.controls['newPassword1'].dirty || changeForm.controls['newPassword1'].touched)">
                            • {{ message.message }}
                        </span>
                    </ng-container>
                </div>
            </div>

            <div class="d-none d-md-block"></div>

            <div class="mb-3 col-sm-12 col-md-4 position-relative">
                <label for="formNewPassword2" class="form-label">
                    Confirm password
                </label>
                <input id="formNewPassword2"
                    type="password"
                    class="form-control"
                    placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                    formControlName="newPassword2"
                    [ngClass]="{
                        'is-invalid': changeForm.controls['newPassword2'].touched &&
                        changeForm.controls['newPassword2'].errors,
                        'is-valid': changeForm.controls['newPassword2'].touched &&
                        !changeForm.controls['newPassword2'].errors
                    }" />
                <div class="invalid-tooltip invalid-tooltip-right"
                    *ngIf="changeForm.controls['newPassword2'].errors &&
                    (changeForm.controls['newPassword2'].dirty || changeForm.controls['newPassword2'].touched)">
                    <ng-container *ngFor="let message of formMessages['newPassword2']">
                        <span *ngIf="changeForm.controls['newPassword2'].hasError(message.type) &&
                            (changeForm.controls['newPassword2'].dirty || changeForm.controls['newPassword2'].touched)">
                            • {{ message.message }}
                        </span>
                    </ng-container>
                </div>
            </div>

            <div class="d-none d-md-block"></div>

            <div class="col-sm-12 col-md-4">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary"
                        type="button"
                        (click)="change()"
                        [disabled]="isProcessing || !changeForm.valid" >
                        <span *ngIf="!isProcessing; else isLoading">
                            Change
                        </span>
                        <ng-template #isLoading>
                            <i class="fa-solid fa-circle-notch fa-spin"></i>
                        </ng-template>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>