<div class="modal fade show d-block"
    role="dialog"
    *ngIf="isModalOpen">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Add new unit
                </h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-primary"
                    (click)="addUnit()"
                    [disabled]="isProcessing || !addForm.valid" >
                    <span *ngIf="!isProcessing; else isLoading">
                        Add
                    </span>
                    <ng-template #isLoading>
                        <i class="fa-solid fa-circle-notch fa-spin"></i>
                    </ng-template>
                </button>
                <button type="button"
                    class="btn btn-outline-primary"
                    (click)="toggleModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show d-block"
    role="dialog"
    *ngIf="isModalOpen">
</div>