<div>
    <!-- Confirm reset form -->
    <form
        *ngIf="isConfirmReset; else isNotConfirmReset"
        [formGroup]="confirmForm"
        class="need-validation row
        justify-content-center">
        <div class="col-10 col-md-8 mb-3 position-relative">
            <label for="formNewPassword1" class="form-label">
                Password
            </label>
            <input
                id="formNewPassword1"
                type="password"
                class="form-control"
                placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                formControlName="newPassword1"
                [ngClass]="{
                    'is-invalid': confirmForm.controls['newPassword1'].touched &&
                    confirmForm.controls['newPassword1'].errors,
                    'is-valid': confirmForm.controls['newPassword1'].touched &&
                    !confirmForm.controls['newPassword1'].errors
                }" />
            <div
                *ngIf="confirmForm.controls['newPassword1'].errors &&
                (confirmForm.controls['newPassword1'].dirty ||
                confirmForm.controls['newPassword1'].touched)"
                class="invalid-tooltip invalid-tooltip-right">
                <ng-container *ngFor="let message of formMessages['newPassword1']">
                    <span
                        *ngIf="confirmForm.controls['newPassword1'].hasError(message.type) &&
                        (confirmForm.controls['newPassword1'].dirty ||
                        confirmForm.controls['newPassword1'].touched)">
                        • {{ message.message }}
                    </span>
                </ng-container>
            </div>
        </div>

        <div class="col-10 col-md-8 mb-3 position-relative">
            <label for="formNewPassword2" class="form-label">
                Confirm password
            </label>
            <input
                id="formNewPassword2"
                type="password"
                class="form-control"
                placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                formControlName="newPassword2"
                [ngClass]="{
                    'is-invalid': confirmForm.controls['newPassword2'].touched &&
                    confirmForm.controls['newPassword2'].errors,
                    'is-valid': confirmForm.controls['newPassword2'].touched &&
                    !confirmForm.controls['newPassword2'].errors
                }" />
            <div
                *ngIf="confirmForm.controls['newPassword2'].errors &&
                (confirmForm.controls['newPassword2'].dirty ||
                confirmForm.controls['newPassword2'].touched)"
                class="invalid-tooltip invalid-tooltip-right">
                <ng-container *ngFor="let message of formMessages['newPassword2']">
                    <span
                        *ngIf="confirmForm.controls['newPassword2'].hasError(message.type) &&
                        (confirmForm.controls['newPassword2'].dirty ||
                        confirmForm.controls['newPassword2'].touched)">
                        • {{ message.message }}
                    </span>
                </ng-container>
            </div>
        </div>

        <div class="col-10 col-md-8 d-grid gap-0">
            <button
                class="btn btn-primary"
                type="button"
                (click)="reset()"
                [disabled]="isProcessing || !confirmForm.valid" >
                <span *ngIf="!isProcessing; else isLoading">
                    Confirm
                </span>

                <ng-template #isLoading>
                    <i class="fa-solid fa-circle-notch fa-spin"></i>
                </ng-template>
            </button>

            <hr class="my-3" />

            <p class="mb-0 text-center">
                <small class="text-muted">
                    Back to
                    <a
                        class="link-primary"
                        [routerLink]="'/auth/login'">
                        Login
                    </a>
                </small>
            </p>

            <p class="mb-3 text-center">
                <small class="text-muted">
                    No verification email?
                    <a
                        class="link-primary"
                        [routerLink]="'/auth/resend-verification'">
                        Resend
                    </a>
                </small>
            </p>
        </div>
    </form>

    <!-- Reset form -->
    <ng-template #isNotConfirmReset>
        <form
            [formGroup]="requestForm"
            class="need-validation row
            justify-content-center">
            <div class="col-10 col-md-8 mb-3 position-relative">
                <label for="formEmail" class="form-label">
                    Email
                </label>
                <input
                    id="formEmail"
                    type="email"
                    class="form-control"
                    placeholder="example@test.com"
                    formControlName="email"
                    [ngClass]="{
                        'is-invalid': requestForm.controls['email'].touched &&
                        requestForm.controls['email'].errors,
                        'is-valid': requestForm.controls['email'].touched &&
                        !requestForm.controls['email'].errors
                    }" />
                <div
                    *ngIf="requestForm.controls['email'].errors &&
                    (requestForm.controls['email'].dirty ||
                    requestForm.controls['email'].touched)"
                    class="invalid-tooltip invalid-tooltip-right">
                    <ng-container *ngFor="let message of formMessages['email']">
                        <span
                            *ngIf="requestForm.controls['email'].hasError(message.type) &&
                            (requestForm.controls['email'].dirty ||
                            requestForm.controls['email'].touched)">
                            • {{ message.message }}
                        </span>
                    </ng-container>
                </div>
            </div>

            <div class="col-10 col-md-8 d-grid gap-0">
                <button
                    class="btn btn-primary"
                    type="button"
                    (click)="request()"
                    [disabled]="isProcessing || !requestForm.valid" >
                    <span *ngIf="!isProcessing; else isLoading">
                        Request
                    </span>

                    <ng-template #isLoading>
                        <i class="fa-solid fa-circle-notch fa-spin"></i>
                    </ng-template>
                </button>

                <hr class="my-3" />

                <p class="mb-0 text-center">
                    <small class="text-muted">
                        Back to
                        <a
                            class="link-primary"
                            [routerLink]="'/auth/login'">
                            Login
                        </a>
                    </small>
                </p>

                <p class="mb-3 text-center">
                    <small class="text-muted">
                        No verification email?
                        <a
                            class="link-primary"
                            [routerLink]="'/auth/resend-verification'">
                            Resend
                        </a>
                    </small>
                </p>
            </div>
        </form>
    </ng-template>
</div>